<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        MusaVisa
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">MusaVisa</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
     <ion-text><h1>MusaVisa</h1></ion-text>
     <ion-text><h5>Vastaus aikasi oli {{ durationSeconds }} sekunttia</h5></ion-text>
     <ion-text><h5>Napauta nuottia palataksesi alkuun.</h5></ion-text>
     <img src="../../assets/img/nuotti.png" (click)="goHome()" tappable />
    </div>
  </ion-content>
  