<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MusaVisa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MusaVisa</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text><h1>Tunnistatko kappaleet?</h1></ion-text>
    <img src="../../assets/img/nuotti.png">
    <ion-text><h5>Kysymys {{quizService.getIndexOfActiveQuestion()}}/
      {{quizService.getNumberOfQuestions()}}</h5></ion-text>
      <ion-text><h5>Miten kappale jatkuu?</h5></ion-text>
      <ion-text color=primary><h5>"{{quizService.getQuoteOfActiveQuestion()}}"</h5></ion-text>
      <ion-list>
        <ion-radio-group>
          <ion-item *ngFor="let option of quizService.getOptionsOfActiveQuestion(); let i=index">
            <ion-label>{{option}}</ion-label>
            <ion-radio *ngIf=!quizService.isAnswerCorrect() (click)="checkOption(i)">
            </ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-button [disabled]="!quizService.isAnswerCorrect()"
      shape="round" color="success" (click)="continue()" tappable>Seuraava</ion-button>
      <ion-text *ngIf=quizService.isOptionSelected()><h6>{{feedback}}</h6></ion-text>
  </div>
</ion-content>
